<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="/static/react/favicon.ico" />
    <script>
      window.token = "{{flask_token}}";
    </script>
    <title>Cole Macdonald</title>
    <link href="/static/react/css/main.24dc6ee5.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
    <script
      type="text/javascript"
      src="/static/react/js/main.826e9c07.js"
    ></script>
  </body>
</html>
