.home {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    padding: 20px;
}

.home-hero-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    align-self: center;
    z-index: 10;
}

.home-button-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}