.home {
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    
    position: absolute;
    bottom: 0px;
    top: 0px;

    .nav-buttons {
        width: 100%;
        flex-grow: 2;
        align-items: stretch;
        align-content: stretch;
        padding: 20px;
        gap: 20px;
    }

    .giant-button {
        width: 100%;
        min-width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;

        background-color: rgb(255, 255, 255, 0.5);
        opacity: 0.4;

        p {
            color: black;
        }

        &:hover {
            background-color: rgb(255, 255, 255, 0.5);
            opacity: 0.6;
            text-decoration: none;
        }
    }
}