.personal-home {


    

    

    
}

.wize-info {
    img {
        height: 300px;
        width: 600px;
        margin: 10px;
    }
}

.photography {
    padding: 10px 0;

    img {
        width: 1000px;
        height: 500px;
        object-fit: scale-down;
    }
}

.music {
    .intro-text {
        p {
            margin: 10px 0;
        }
    }

    .songs {
        p {
            margin: 10px 0;
        }
    }

    .song {
        iframe {
            width: 475px;   
        }
        .visualAudible__artworkOverlay {
            display: none !important;
            height: 0px;
            width: 0px;
        }
    }
}