.professional-home {
    .linkedin-link {
        margin-left: -34px;
        margin-top: 10px;
        path {
            fill: #0b66c2;
        }
        rect {
            fill: $text-colour;
        }
    }

    .content {
        margin-top: 175px;
        gap: 20px;
        padding: 0 20px;
    }

    .professional-summary {

        margin-top: 185px;

        .professional-summary-image {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            align-self: center;
            margin-top: -310px;
        }

        .summary-items {
            margin-top: 20px;
        }
    }

    .technical-skills {
        :nth-child(even).skill {
            background-color: $light-green;
        }

        :nth-child(odd).skill {
            background-color: $dark-green;
        }

        background-color: none;

        .skill {
            height: 125px;
            width: 125px;
            border-radius: 50%;

            padding: 5px;

            text-align: center;

            p {
                margin: 0;
            }
        }
    }
}