.professional-home {
    .professional-summary {
        padding: 10px 0 20px 0;

        margin-top: 175px;

        .professional-summary-image {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            align-self: center;
            margin-top: -135px;
        }

        .summary-items {
            margin-top: 20px;
        }
    }

    .technical-skills {
        padding: 20px 0;
        :nth-child(even).skill {
            background-color: $light-green;
        }

        :nth-child(odd).skill {
            background-color: $dark-green;
        }

        background-color: none;

        .skill {
            height: 125px;
            width: 125px;
            border-radius: 50%;

            padding: 5px;

            text-align: center;

            p {
                margin: 0;
            }
        }
    }

    .download-resume-button {
        text-align: center;
        padding: 20px;

        a {
            height: 70px;
            width: 300px;

            background-color: $text-colour;
            color: $primary-colour;
            
            border-style: solid;
            border-radius: 10px;
            border-color: $light-green;
            border-width: 5px;
            


            &:hover {
                text-decoration: none;
                font-style: bold;
                font-size: 15px;
                border-width: 6px;
            }
        }
    }

    .professional-footer {
        color: black;
        background-color: rgb(255, 255, 255, 0.5);
        width: 100%;
        padding: 20px 0;
    }
}