.title {
    color: $secondary-colour;
    font-size: 72px;
    line-height: 1em;
    margin: 10px 0;
}

.subtitle {
    font-size: 24px;
}

.heading1 {
    font-size: 24px;
}

.heading2 {
    font-size: 20px;
}

.heading3 {
    font-size: 14px;
    font-style: italic;
    color: rgb(163, 163, 163);
}