html {
  background-color: rgb(37, 37, 37);
}

.app {
  background-color: rgb(37, 37, 37);
  color: lightgrey;
}

.tab-content {
  padding: 10px 0 20px 20px;
}

.horizontal-flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

