$primary-colour: #233b37;
$secondary-colour: white;
$background-colour: rgb(37, 37, 37);
$text-colour: lightgrey;

$theme-colors: (
  "primary": $primary-colour,
  "danger": red
);

html {
  background-color: $background-colour;

}

.nav-bar {
  height: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: $text-colour;

  .tab-content {
    padding: 10px 20px 20px 20px;
  }
  
  .horizontal-flex-box {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .vertical-flex-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .left {
    align-items: left;
    justify-content: left;
  }

  .centered {
    align-items: center;
    justify-content: center;
  }

  .stretched {
    align-items: stretch;
    justify-content: flex-start;
    align-content: stretch;
    width: 100%;
  }
}

.background {
  background-image: url("../resources/home/osaka-castle.jpeg");
  /* Add the blur effect */
  filter: blur(12px);
  -webkit-filter: blur(12px);

  /* Fill entire window */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}


@import "./home";
@import "./wize";

@import "~bootstrap/scss/bootstrap";