.home {
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    
    position: absolute;
    bottom: 0px;
    top: 60px;

    .nav-buttons {
        width: 100%;
        flex-grow: 2;
        align-items: stretch;
    }

    .giant-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;

        background-color: rgb(255, 255, 255, 0.5);
        opacity: 0.4;

        p {
            color: black;
        }

        &:hover {
            background-color: rgb(255, 255, 255, 0.5);
            opacity: 0.6;
            text-decoration: none;
        }
    }

    .title {
        margin-top: 200px;

        font-size: 72px;
    }

    .subtitle {
        // font-family: monospace;
        font-size: 24px;
    }
}

.professional-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;

    .about-me {
        background-color: white;
        color: black;
        width: stretch;

        .content {
            width: 700px;
        }
    }
}