

a {
    color: black;
    text-decoration: none;
}

.wize-game-root {
    max-width: unset;
}

.game-title {
    font-size: 20pt;
    font-family: monospace;
    color: white;
    text-decoration: none;
}

.wize-game-component {
    .horizontal-flex-box {
        align-items: center;
    }
}

.wize-game {
    text-align: center;
}

/* Weird things */

svg {
    position: absolute;
    overflow: hidden;
}

polygon {
    overflow: hidden;
}

img.left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

canvas.left {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.game-canvas {
    width: 85%;
    aspect-ratio: 2 / 1;
}
