body {
  overflow: hidden;
}

svg {
  position: absolute;
  overflow: hidden;
}

polygon {
  overflow: hidden;
}

.game-title {
  font-size: 30pt;
  font-family: monospace;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.game-title:hover {
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

img.left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

canvas.left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
